In [59]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import datetime, time
from dateutil.relativedelta import relativedelta

In [60]:
df = pd.read_csv(r'C:\Users\slama\PycharmProjects\traiding\backtesting\AAPL_1min_2weeks.csv', index_col='Datetime')

In [49]:
df.index = pd.to_datetime(df.index)

In [69]:
df.to_csv(r'C:\Users\slama\PycharmProjects\traiding\backtesting\AAPL_1min_2weeks.csv')

In [66]:
df.index = [i[:-6] for i in df.index]

In [68]:
df

,Open,High,Low,Close,Adj Close,Volume
2021-11-29 09:30:00,159.656601,159.804993,159.656601,159.804993,159.804993,3937352
2021-11-29 09:31:00,159.690002,160.089996,159.210007,159.382996,159.382996,884406
2021-11-29 09:32:00,159.360001,159.800003,159.080002,159.100006,159.100006,506205
2021-11-29 09:33:00,159.250000,159.399994,159.250000,159.376907,159.376907,468256
2021-11-29 09:34:00,159.750000,159.750000,159.561005,159.580002,159.580002,447870
...,...,...,...,...,...,...
2021-12-10 15:55:00,179.070007,179.190002,178.919998,179.184998,179.184998,727684
2021-12-10 15:56:00,179.184998,179.300003,179.169998,179.270004,179.270004,835855
2021-12-10 15:57:00,179.270004,179.369995,179.210007,179.210007,179.210007,838444
2021-12-10 15:58:00,179.210007,179.479996,179.123199,179.460007,179.460007,1004865
2021-12-10 15:59:00,179.470001,179.630005,179.350006,179.500000,179.500000,1736159

In [54]:
df = pd.read_csv(r'C:\Users\slama\PycharmProjects\traiding\backtesting\AAPL_1min_2weeks.csv', index_col='Datetime')

In [57]:
df.index = pd.to_datetime(df.index)

In [58]:
df.index

DatetimeIndex(['2021-11-29 09:30:00-05:00', '2021-11-29 09:31:00-05:00',
               '2021-11-29 09:32:00-05:00', '2021-11-29 09:33:00-05:00',
               '2021-11-29 09:34:00-05:00', '2021-11-29 09:35:00-05:00',
               '2021-11-29 09:36:00-05:00', '2021-11-29 09:37:00-05:00',
               '2021-11-29 09:38:00-05:00', '2021-11-29 09:39:00-05:00',
               ...
               '2021-12-10 15:50:00-05:00', '2021-12-10 15:51:00-05:00',
               '2021-12-10 15:52:00-05:00', '2021-12-10 15:53:00-05:00',
               '2021-12-10 15:54:00-05:00', '2021-12-10 15:55:00-05:00',
               '2021-12-10 15:56:00-05:00', '2021-12-10 15:57:00-05:00',
               '2021-12-10 15:58:00-05:00', '2021-12-10 15:59:00-05:00'],
              dtype='datetime64[ns, pytz.FixedOffset(-300)]', name='Datetime', length=3899, freq=None)