In [1]:
import yfinance as yf 
import talib as ta

msft = yf.download('NIO', period='6mo', interval='1d')
msft

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2021-03-03  44.580002  45.080002  41.110001  41.529999  41.529999  107863400
2021-03-04  40.490002  42.430000  37.590000  39.279999  39.279999  205872700
2021-03-05  39.240002  39.869999  31.910000  38.110001  38.110001  270803200
2021-03-08  36.970001  39.480000  34.900002  35.209999  35.209999  143074800
2021-03-09  37.480000  42.080002  36.520000  41.349998  41.349998  176602600
...               ...        ...        ...        ...        ...        ...
2021-08-30  38.169998  38.279999  36.639999  37.799999  37.799999   38128000
2021-08-31  38.240002  39.389999  37.900002  39.310001  39.310001   44942200
2021-09-01  37.490002  39.930000  37.200001  39.080002  39.080002   56911500
2021-09-02  39.070000  41.020000  38.900002  40.349998  40.349998   43827700
2021-09-03  40.110001  40.965000  39.831001  40.139999  40.139999   26314280

[130 rows x 6 columns]

In [7]:
ha = ta.CDLHAMMER(open=msft.Open, close=msft.Close, high=msft.High, low=msft.Low)

In [8]:
ha[ha > 1]

Date
2021-07-02    100
2021-08-30    100
dtype: int32

In [46]:
txt = 'geeks for geeks'
pat = 'geek'
q = 101
d = 256

In [54]:
n = len(txt)
m = len(pat)

p = 0
t = 0

h = 1

In [55]:
for i in range(m-1):
    h = (h * d) % q

In [56]:
for i in range(m):
    p = (d * p + ord(pat[i])) % q # hash value of pattern
    t = (d * t + ord(txt[i])) % q # hash value of first window of the text

In [62]:
for i in range(n - m + 1):
    if p == t:
        for j in range(m):
            if txt[i+j] != pat[j]:
                break
            else:
                j += 1
        if j == m:
            print(f'Pattern found at index {i}')
    if i < n - m:
        t =

Pattern found at index 0
Pattern found at index 10

In [60]:
n

15